@import "config";
@import "svg-ani";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://assets.codepen.io/5650050/cardboard_flat.webp");
  background-repeat: repeat;
  background-attachment: fixed;
  color: set-text-color($primary-color);
  margin: 0;
  font-family: $body-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overscroll-behavior: none;
}

.loading {
  opacity: 0;
  visibility: hidden;
}

.no-js .loading {
  opacity: 1;
  visibility: visible;
}

// Headings

.lg-heading {
  font-family: $title-text;
  font-size: clamp(3rem, 0.1429rem + 5.7143vw, 7rem);
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.sm-heading {
  font-family: $title-text;
  font-size: clamp(2rem, 0.5714rem + 2.8571vw, 4rem);
  letter-spacing: -0.03em;
  line-height: 0.8;
  text-transform: uppercase;
}

.body-text {
  font-family: $body-text;
  font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  font-weight: 300;
}

.text-span {
  color: $secondary-color;
}

.sp-sub-wrapper {
  margin-top: 12vh;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  h2 {
    margin: 0 auto;
    padding: 2rem;
    font-family: $body-text;
    font-weight: 300;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  }
}

.slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: -500;
}

.spacer {
  height: 20vh;
  margin: 3rem;
}

// Header & Title

.fixed-header {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0;
  place-items: stretch;
  grid-template-areas: "logo site-title site-title icons icons";
  z-index: 999;

  &--scrolled {
    .logo {
      background: #ccc;
      opacity: 0.8;
      z-index: 999;
      svg {
        width: 35%;
      }
    }

    .site-title {
      background: #ccc;
      opacity: 0.8;
      z-index: 999;
      font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
    }

    .icons {
      background: #ccc;
      opacity: 0.8;
      z-index: 999;
    }
  }
}

.logo {
  display: grid;
  grid-area: logo;
  align-content: center;
  justify-content: center;
  svg {
    fill: black;
    width: 38%;
    transition: ease 0.4s;
  }
  svg:hover {
    fill: $secondary-color;
  }
}

.site-title {
  display: grid;
  grid-area: site-title;
  align-content: center;
  justify-content: center;
  h1 {
    font-family: $body-text;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
    font-weight: 300;
    padding: 0.5rem;
    transition: ease 0.4s;
  }
}

.icons {
  display: grid;
  grid-area: icons;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  place-items: stretch;
  align-items: center;
  justify-items: center;
  grid-template-areas: "icon1 icon2 icon3 icon4";

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $secondary-color;
  }

  .icon1 {
    grid-area: icon1;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  }
  .icon2 {
    grid-area: icon2;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  }
  .icon3 {
    grid-area: icon3;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  }
  .icon4 {
    grid-area: icon4;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  }
}

.main-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 10px;
  align-content: center;
  justify-content: center;
  grid-template-areas: "main-title main-title main-title main-title" "subtitle subtitle subtitle subtitle" "scroll-down scroll-down scroll-down scroll-down" "main-animation main-animation main-animation main-animation";
}

.child {
  padding: 1rem;
  // border: 1px red solid;
}

.main-title {
  display: grid;
  grid-area: main-title;
  align-content: center;
  justify-content: center;
  margin-top: 45vh;
  margin-bottom: -5vh;
  width: 100%;
  height: 20%;
  h1 {
    line-height: 0.75;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

.subtitle {
  display: grid;
  grid-area: subtitle;
  // height: 20vh;
  width: 55%;
  margin: 0 auto;

  h2 {
    font-family: $body-text;
    font-size: clamp(0.75rem, 1.1429rem + 0.7143vw, 1rem);
    font-weight: 300;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .animated-text-wrapper {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    z-index: -2;

    .static-text {
      padding-right: 0.05rem;
    }

    .word-wrapper {
      position: absolute;
    }
    .words {
      opacity: 0;
      font-weight: 700;
    }
  }
}

.scroll-down {
  display: grid;
  grid-area: scroll-down;
  align-content: center;
  justify-content: center;
  height: 8vh;
}

.bio-centered-text,
.work-centered-text,
.conclusion-centered-text,
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  padding: 2rem;

  p {
    color: set-text-color($primary-color);
    font-family: $body-text;
    font-weight: 300;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  }
}

.bio-pin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
  height: 50%;
  padding-top: 8%;

  // .bio-image {
  //   border: 5px white solid;
  //   background-image: url("https://assets.codepen.io/5650050/mge-profile-fc_1.jpg");
  //   background-position: center;
  //   // border-radius: 100%;
  //   width: 300px;
  //   height: 300px;
  //   margin: 2rem;
  //   padding-top: 13%;
  //   -webkit-box-shadow: 0 10px 6px -6px #777;
  //   -moz-box-shadow: 0 10px 6px -6px #777;
  //   box-shadow: 0 10px 6px -6px #777;
  // }
}

.work-pin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
  height: 50%;
  padding-top: 2%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
  grid-gap: 15px;
  padding: 2rem;
}

.card-1 {
  grid-area: card1;
}
.card-2 {
  grid-area: card2;
}
.card-3 {
  grid-area: card3;
}
.card-4 {
  grid-area: card4;
}
.card-5 {
  grid-area: card5;
}
.card-6 {
  grid-area: card6;
}

.card {
  background: #111;
  color: #fff;
  outline: 1px solid #fff;
  outline-offset: -15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  min-height: 60vh;
}

.card-image-1 {
  background-image: url("https://images.unsplash.com/photo-1502465771179-51f3535da42c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
}

.card-image-2 {
  background-image: url("https://images.unsplash.com/photo-1553446463-950d18f52c23?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
}

.card-image-3 {
  background-image: url("https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
}

.card-image-4 {
  background-image: url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1796&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
}

.card-image-5 {
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
}

.card-image-6 {
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45%;
  border-radius: 10px 10px 0px 0px;
}

.card-text {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 0.5rem 1.5rem;
  h1 {
    font-family: $title-text;
    font-size: calc(1.25rem + 1vw);
  }
  p {
    font-family: $body-text;
    font-size: clamp(0.9rem, 0.8286rem + 0.1429vw, 1rem);
    padding-bottom: 1rem;
  }

  .btn {
    display: inline-block;
    margin-top: 0.5rem;
    width: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    border: #fff 1px solid;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
  }

  .btn:hover {
    transform: scale(0.95);
    font-weight: 600;
    border: #fff 2px solid;
    // color: $secondary-color;
    // border: $secondary-color 1.5px solid;
  }
}

.conclusion-pin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
  height: 50%;
  padding-top: 8%;
}

.contact-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1, 1fr;
  column-gap: 20px;
  width: 60%;
  margin: 2rem auto;
  p {
    font-family: $body-text;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
  }

  .btn {
    display: inline-grid;
    width: 100%;
    margin: 2rem auto;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    border: #000 1px solid;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 1s;
  }

  .btn:hover {
    transform: scale(0.95);
    color: $secondary-color;
    border: $secondary-color 1.5px solid;
  }
}

// Resume Page

.resume-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "column1 column2";
  column-gap: 1rem;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.col-1 {
  grid-area: column1;
}

.col-2 {
  grid-area: column2;
}

.resume {
  h1 {
    font-family: $title-text;
    font-size: clamp(2rem, 0.5714rem + 2.8571vw, 4rem);
  }

  h2 {
    font-family: $body-text;
    font-weight: 300;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
    padding-bottom: 2rem;
  }

  h3 {
    font-family: $title-text;
    font-size: calc(1rem + 0.5vw);
  }

  p {
    font-family: $body-text;
    font-size: clamp(0.9rem, 0.8286rem + 0.1429vw, 1rem);
    font-weight: 300;
  }

  h3,
  p {
    padding-bottom: 2rem;
  }

  li {
    list-style-type: none;
  }
}

.back {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $secondary-color;
  }
}

.pdf-version {
  width: 100%;
  font-family: $body-text;
  text-align: center;
}

//Example Pages ////////

.example-heading {
  padding: 2rem;
}

.example-container {
  display: grid;
  grid-template-columns: 3fr, 1fr;
  grid-template-areas: "column1 column2";
  column-gap: 2rem;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
}

.col-1 {
  grid-area: column1;
  margin-top: 5rem;
}

.col-2 {
  grid-area: column2;
  margin-top: 5rem;
}

.col-3 {
  grid-area: column3;
  margin-top: 5rem;
}

.example-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  text-align: center;
  h3 {
    font-weight: 700;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
    padding: 2rem;
  }
}

.example-content {
  text-align: center;
  width: 80%;
  img {
    width: 75%;
    height: auto;
  }
}

.example {
  h1 {
    font-family: $title-text;
    font-size: clamp(2rem, 0.5714rem + 2.8571vw, 4rem);
  }

  h2 {
    font-family: $body-text;
    font-weight: 300;
    font-size: clamp(1.5rem, 1.1429rem + 0.7143vw, 2rem);
    padding-bottom: 2rem;
  }

  h3 {
    font-family: $title-text;
    font-size: calc(1rem + 0.5vw);
  }

  p {
    font-family: $body-text;
    font-size: clamp(1rem, 0.6429rem + 0.7143vw, 1.5rem);
    font-weight: 300;
    line-height: 1.5;
  }

  h3,
  p {
    padding-bottom: 2rem;
  }

  li {
    list-style-type: none;
  }
}

footer {
  background: #000;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 2rem;
  color: #fff;

  p {
    font-family: $body-text;
    font-size: clamp(0.9rem, 0.8286rem + 0.1429vw, 1rem);
  }
}

@import "mobile";
